h1, h2, h3, h4, h5, h6, p, span, li, a{ font-family: 'Poppins', sans-serif; color: #000; }
h1{
	font-size: 50px;
  text-align: center;
}
h2{
	font-size: 40px;
}
h3{
	font-size:35px;
}
h4 { 
	font-size: 30px; 
}
h5 { 
	font-size: 35px; 
}
h6 { 
	font-size: 30px; 
}
img{max-width: 100%;height: auto;}
iframe{ max-width: 100%; }
p{ 
  text-align: left;
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}
a{
  color: #fff !important; 
}
ul{ padding-left: 0; list-style-image: none; list-style-type: none;}
li {
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.3rem;
  min-height: 32px;
  padding-left: 44px;
  text-align: left;
}
.container {
	max-width: 1000px;
	margin: auto;
}
.video-container {
   position:relative;
   padding-bottom: 46.5%;
   padding-top:31px;
   height:0;
   overflow:hidden;
   border: 10px solid #eee;
   border-radius: 5px;
}
.video-container iframe, .video-container object, .video-container embed {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}
.full-width{
  background-repeat: no-repeat;
  background-size: cover;
}

.full-width-background1{
  background-image: url(../images/Fiverr-bg.png); 
  background-repeat: round;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
.full-width-background101{
  background-image: url(../images/section-1.png); 
  background-repeat: round;
  background-size: cover;
  height: 100%;

}
.full-width-background2 {
  background-image: url(../images/background2.png) !important;
  background-repeat: round;
  background-size: cover !important;
}

.full-width-background3 {
  background-image: url(../images/Bonuses.png) !important;
  background-repeat: round;
  background-size: cover !important;
  background-attachment: fixed;
}
.full-width-background-image {
  background-image: url(../images/Dollar.png) !important;
  background-repeat: round;
  background-size: cover !important;
}
.full-width-background-FAQ {
  background-image: url(../images/wavebg.png) !important;
  background-repeat: round;
  background-size: cover !important;
}

.full-width-background5 {
  background-image: url(../images/background5.png) !important; 
  background-repeat: round;
  background-size: cover !important;
}
.fast-action-header-style { background-color: #f42121; font-weight: bold; color: white; padding: 4px; border-radius:  40px 40px 40px 40px; padding: 10px; }
.center-image { display: block; margin-left: auto; margin-right: auto; margin-top: -40px; }
img .ebook-cover {padding-top: 60px; width: 50rem !important;}
.list-icon-1 li{ color: #ffffff; margin-bottom: 3rem; font-size: 19px; line-height: 1.1em; background-image: url(../images/checkwhite.png);}
.list-icon-2 li { color:#000;  background-image: url(../images/check1.png); font-size: 16px; }  
.list-icon-3 li{ background-image: url(../images/check1.png); font-size: 16px;  border-bottom: 1px solid gray; padding-bottom: 15px;}
.list-icon-image li{ background-image: url(../images/g1.png);padding-bottom: 30px; background-size:80px;padding-left: 80px;  font-size: 19px;  border-bottom: 1px solid white; line-height: 2;}
.list-icon-image2 li{ background-image: url(../images/g2.png);padding-bottom: 30px; background-size:80px;padding-left: 80px;  font-size: 19px;  border-bottom: 1px solid white; line-height: 2;}
.list-icon-image3 li{ background-image: url(../images/g3.png);padding-bottom: 30px; background-size:80px;padding-left: 80px;  font-size: 19px;  border-bottom: 1px solid white; line-height: 2;}
.list-icon-image4 li{ background-image: url(../images/g4.png);padding-bottom: 30px; background-size:80px;padding-left: 80px;  font-size: 19px;  border-bottom: 1px solid white; line-height: 2;}
.list-icon-image5 li{ background-image: url(../images/g5.png);padding-bottom: 30px; background-size:80px;padding-left: 80px;  font-size: 19px;  border-bottom: 1px solid white; line-height: 2;}
.list-icon-4 li{ font-weight: 400; margin-left: 70px; font-size: 17px; line-height: 1.5; background-image: url(../images/bullet-4.png);}
.footer{ background-color: #000000; padding-top: 2%; padding-bottom: 1%; }
.footer .row{ padding: 0; }
.footer p{ font-size: 14px; margin-bottom: 0px; text-align: center; }
.row{ padding: 5% 0; }
.heading{ color: #333;font-weight: 700;line-height: 1;}
.subheading {color: #ffeb3b;font-weight: normal;}
.logo{ margin-bottom: 30px; }
.fast-action-heading{ padding: 15px 0; color: #fff;}
.fast-action-contents{ background-color: #fff;padding-top: unset !important; padding-bottom: 55px !important; padding: 40px;display: flex;align-items: center; width: 100%; }
.fast-action{ margin-bottom: 50px; box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.06); }
.right{ float: right; }
.faq{ margin-bottom: 20px; }
.faq p{ margin-bottom: 5px; color: #fff;}
.faq img{ vertical-align: middle; margin-right: 10px;}
.faq ul{ padding-left: 55px; color: #fff;}
.faq ul li{ padding-left: 15px; background-image: none;color: #fff; }
.answer{ padding-left: 65px; color: #fff;}
.advice img{ vertical-align: middle; }


@media only screen and (max-width: 600px) {
  .list-icon-image2 li{
    line-height: 2;
  }
  .list-icon-image3 li{
    line-height: 2;
  }
  .Today{
    font-size: 30px;
  }
}
@media (max-width: 900px) {
	.rw-1 .columns{
		width: 100%;
	}
}
@media (max-width: 767px){
  .header-buy-button{ margin-bottom: 0px!important; }
  .ask{ top: 0px!important; }
  .fast-action-contents { display: block;}
  .fast-action-contents .col-md-5, .fast-action-contents .col-md-7 { margin: 15px 0; }
  .video-container {
    margin-bottom: 30px;
  }
}